/*.csv
!notebooks/opensearch_hrefs_stats.csv
*.pyc
*.xlsx

test.txt
testdata/
we_hate_xml*
notebooks/.ipynb_checkpoints/*
local/stanford*
notebooks/lda/dictionaries/
notebooks/simhashing

.ipynb_checkpoints

notebooks/Untitled0.ipynb

notebooks/identifier_extraction.log
