/*.csv
!notebooks/opensearch_hrefs_stats.csv
*.pyc
*.xlsx

bcube_owslib

notebooks/*.log
notebooks/*.sql
notebooks/*.csv
notebooks/*.sqlite

test.txt
testdata/
we_hate_xml*
notebooks/.ipynb_checkpoints/*
local/stanford*

notebooks/lda/dictionaries/
notebooks/simhashing
notebooks/simhashing_near_dupes
pipeline_tests/

solr_superset/
sql/
local/
src/
build/
dist/

.ipynb_checkpoints

notebooks/Untitled0.ipynb

notebooks/identifier_extraction.log

*.sqlite

notebooks/harvest_linkrot_20150504-1940_date_processed.sqlite

Semantics_Preprocessing.egg-info/